/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.url-button {
	background-color: #4CAF50; /* Green background */
	color: #FFFFFF; /* White text */
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	transition: all 0.3s ease;
	margin-right: 10px; /* Add space to the right of the button */
}


.url-button:hover {
	background-color: #333131; /* Light gray on hover */
	color: #4CAF50; /* Green text on hover */
}

.url-hint {
	font-style: italic;        
	font-size: 14px;           
	color: #555;            
	vertical-align: middle;    
}

.timestamp-button {
    padding: 1px 6px; /* Reduce the top and bottom padding to make the button slimmer */
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 50px;
	transition: all 0.3s ease;
}

.timestamp-button:hover {
     background-color: #0056b3; /* Darker blue on hover */
}

.timestamp-hint {
    font-style: italic;        
    font-size: 14px;           
    color: #555;            
    vertical-align: middle;    
}
